*{
  margin: 0;
  padding: 0;
  box-shadow: border;
}


.myNav{
  margin-left: 20rem;
  font-size: 1.2rem;
}

.cart-li{
  margin-left: 2rem;
  padding-top: 0.5rem;
}



.banner-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0039C1;
  width: 100%;
  height: 5rem;
  color: white;

}



.banner-disc{
  font-size: 2rem;
}

.banner-text{
  font-size: 1.1rem;
border: solid 2px yellow;
padding: 0.5rem;
}

.discount-code{
  color: yellow;
}

/*HERO*/
.bgimage {
  width:100%;
  height:625px;
  background: url('./assets/images/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
  font-size: 3rem;
}

.hero-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  height:30rem;
}

.hero-btn{
  background-color: #0039C1;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 10px;
  border: solid 1px yellow;
}
/*EndOf Hero*/


.footer-cnt{
    background-color: lightgray;
}

.footer-hdr{
  font-size: 1rem;
  font-weight: bolder
}

.footer-btn{
  width: 300px;
font: 1.1rem;
background-color: #0039C1;
color:white;
padding: 5px;
}

.countdown-timer{
    max-width: 10rem;
}

.countdown-text{
font-family: 'Wallpoet', cursive;
display: flex;
justify-content: center;
align-items: center;
text-align: center;

}

.countdown-time{
  font-family: 'Wallpoet', cursive;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1rem; 
 

  

}

.prod-cntr{
  text-align: center;
}


.card:hover{

transform: scale(1.1);
}

.card-body{
  width: 20rem;
  height: 10rem;
}



.card-title{
  font-size: 1.3rem;
  font-weight: bolder;
}

.prod-price{
  font-size: 1.1rem;
  font-weight: 500;
 
}


.prod-carticon{
  font-size: 1.5rem;
  padding-left: 5rem;
  cursor: pointer;
  color:#0039C1
}

.prod-row{
  padding-top: 2rem;
 
}

.prod-col{
  padding-bottom: 3rem;
}

.main-btn{
  background-color: #0039C1;
  color: yellow;
  width: 8rem;
  border: solid yellow;
  padding:0.5rem;
}

.mainbtn-menu-container{
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-evenly;
  background-color: lightgray;
  padding: 2rem;
}

.plus, .minus{
  width:2rem;
  height: 1rem;
}

.quantity-container{
  display: flex;
  justify-content: center;
}

.cart-hdr{
text-align: center;
}

.cart-totals{
  display: flex;
  flex-direction: column;
  text-align: right;
margin-right: 2rem;
justify-content: right; 



}

.checkout-btn{
  width: 10rem;

 
}

.bold-totals{
  font-weight: bold;

}

.trash-icon{
  width: 1.3rem;
  padding-bottom: 0.2rem;

}

.rmv-btn{
  width: 10rem;
  font-size: 1.1rem;
  height: 2.4rem;
}

.cart-hdr{
  color:#0039C1;
  background-color: yellow;
  border:#0039C1 solid;
}

.checkout-btn{
  background-color: #0039C1;
  color: yellow;
}